.button1{
width: 42px;
height: 19px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 19px;
text-align: center;
color: #6C63FF;
flex: none;
order: 0;
flex-grow: 0;
box-sizing: border-box;
width: 90px;
height: 35px;
border-color: #6C63FF;
box-shadow: none;

}
.button2{
width: 80px;
height: 19px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 19px;
text-align: center;
color: #FFFFFF;
flex: none;
order: 0;
flex-grow: 0;
box-sizing: border-box;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 30px;
gap: 10px;
width: 140px;
height: 51px;
background: #6C63FF;
border: 1px solid #6C63FF;
border-radius: 2px;
flex: none;
order: 1;
flex-grow: 0;
width: 80px;
height: 19px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 19px;
text-align: center;
color: #FFFFFF;
flex: none;
order: 0;
flex-grow: 0;
}
.col-6{
    display: flex;    
}

.logo{
    margin: 15px;
}

.h1{
width: 150px;
font-family: 'Playfair Display';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 50px;
letter-spacing: -1px;
color: #2F2E41;
flex: none;
order: 0;
align-self:stretch;
margin-left: 200px;
}
.p1{
    color: #9893a3;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    margin-left: 200px;
    margin-bottom: 40px;
    
}

.p2{
    margin-left: 200px;
 
}
.col-9{
    display: flex;
}
.col-7{
    margin-left:500px;
}
.container{
    margin-left: 200px;
}
.col-12{
    display: flex;
    justify-content: space-around;
}
.head{
    padding: 50px;
}
.ilu1{
    margin-left: 200px;
}
.ilu2{
    margin-left: 300px;
}
.ilu{
   margin-top: 100px;
   margin-bottom: 0px;
   margin-left: 0px;
   margin-right: 0px;
}

.price{
    display: flex;
    justify-content: center;
    list-style: none;
}
.price1{
    list-style: none;
}

